.card-custom {
  @media (max-width: 575px) {
    width: 100%;
  }
  width: clamp(15em, 25vw, 20em);
  box-sizing: border-box;
  .link_icon {
    font-size: 1.5em;
  }
  .image_container {
    width: 100%;
    height: 300px;
    img {
      width: 100%;
      height: 100%;
      object-fit: "cover";
    }
  }
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}

.card_custom_display {
  width: clamp(14em, 15vw, 16em);
  box-sizing: border-box;
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}

.card_custom_display {
  width: clamp(14em, 15vw, 16em);
  box-sizing: border-box;
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}

.card-custom-display {
  width: clamp(15em, 20vw, 20em);
  max-height: 50px;
  box-sizing: border-box;
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}

.card_custom_display {
  width: clamp(14em, 15vw, 16em);
  box-sizing: border-box;
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}
