.card-custom {
  width: clamp(15em, 25vw, 20em);
  box-sizing: border-box;
  .link_icon {
    font-size: 1.5em;
  }
  .card_header_btn {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.25em;
    color: black;
  }
  .card_header_btn:hover {
    color: $primary-color2;
  }
  .title {
    font-family: poppinsMedium;
    font-size: 1.25em;
  }
  .description {
    font-family: poppinsRegular;
    font-size: 0.875em;
    color: black;
  }
}
