.loader_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .spinner_purple {
    color: $primary-color1;
  }
  .spinner_blue {
    color: $primary-color17;
    margin: 0 10px;
  }
  .spinner_red {
    color: $primary-color16;
  }
}

.ressources_main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2%;
  @media (max-width: 575px) {
    padding: 5%;
  }
  h1 {
    @media (max-width: 575px) {
      font-size: 1.5em;
    }
    font-size: 2em;
  }
  .head_wrapper {
    @media (max-width: 575px) {
      flex-direction: column;
      row-gap: 20px;
    }
    .actions_wrapper {
      @media (max-width: 575px) {
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
  .add_ressources_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0;
    h2 {
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
  .progress_circular_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}

.cards-container {
  @media (max-width: 575px) {
    width: 100%;
  }
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 3em;
  padding: 16px;
  width: 90vw;
  margin: 0 auto;
}

.no_ressources_text {
  font-size: 1.25em;
  font-family: poppinsMedium;
  text-align: center;
}
