.ressources_main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .add_ressources_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;
    h2 {
      margin: 0 10px;
    }
  }
  .progress_circular_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}
