.ressources_main_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2%;
  h1 {
    font-size: 2em;
  }
  .add_ressources_button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2em 0;
    h2 {
      font-size: 1.5em;
      margin-right: 10px;
    }
  }
  .progress_circular_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-start;
  margin-top: 3em;
}
