.container_signin {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100svh;
  padding: 2%;
}

.container_signin:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-image: url("../../../images/sign-in-background.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

.signin_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3%;
  border-radius: 30px;
  max-width: 400px;
  box-shadow: 10px 5px 5px rgba($color: #000000, $alpha: 0.3);

  span {
    font-size: 1.75em;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5em;
    text-align: center;
    line-height: 1em;
  }

  .title {
    font-weight: bold;
    color: #000000;
    margin-bottom: 1em;
  }

  p {
    color: #000000;
    margin-bottom: 0;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .input {
    width: 300px;
    height: 50px;
    background-color: white;
    padding: 8px;
    border: 2px solid #9e9992;
    border-radius: 8px;
    font-size: 15px;
    font-family: inherit;
    margin-bottom: 10px;
  }

  button {
    margin: 1em 0;
  }

  .signup_link {
    margin-top: 1em;
  }

  .error_Message {
    font-size: 15px;
    color: red;
  }
}
