.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 6px 10px;
}

.mainMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  color: #ffa41b;
}

.categoriesNavigation {
  font-size: 12px;
  font-weight: bold;
  color: #666;
  padding: 16px 10px 6px;
  white-space: nowrap;
  overflow-x: scroll;
  padding-top: 14px;
  display: flex;
  justify-content: space-between;
}

.categoryNavigationLink {
  text-decoration: unset;
  color: inherit;
}

.logo {
  border: none;
}

.connectedUserLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.signInButton {
  height: 45px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #3b8ea5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: #3b8ea5;
  cursor: pointer;
  text-decoration: none;
}

.signOutButton {
  height: 40px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: red;
  cursor: pointer;
  text-decoration: none;
}
