.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 700px;
}

.logo {
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5em;
}

.paragraphe {
  font-weight: bold;
  color: #000000;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.input {
  width: 300px;
  height: 50px;
  background-color: white;
  padding: 8px;
  border: 2px solid #9e9992;
  border-radius: 8px;
  font-size: 15px;
  font-family: inherit;
  margin-bottom: 10px;
}

.button {
  min-width: 200px;
  margin-top: 20px;
  height: 45px;
  padding: 8px;
  border-radius: 8px;
  border: 2px solid #8685EF;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #8685EF;
  cursor: pointer;
}

.button:hover {
  background-color: #5f5dc4; 
}

.forgotPassword{
  color: #000000;
}

.errorMessage {
  font-size: 15px;
  color: red;
}

