html,
body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.main {
  padding-left: 65px;
  display: flex;
}

.full_width {
  width: 100%;
}

h1 {
  font-size: 4.5vw;
  font-family: poppinsBold;
}

h2 {
  font-size: 3vw;
  font-family: poppinsRegular;
}
