$black-shadow: rgba(0, 0, 0, 0.16);
$primary-color1: #8685ef;
$primary-color2: #5f5dc4;
$primary-color3: #474554;
$primary-color4: #f2ecff;
$primary-color5: #efde85;
$primary-color6: #363853;
$primary-color7: #d5d5d5;
$primary-color8: #008bd0;
$primary-color9: #fcfbfb;
$primary-color10: #b02b36;
