.menu_white_logo {
  margin-bottom: 60px;
}
.menu_white_logo a img {
  width: 100%;
  height: 100%;
  content: url("../../images/logo_full_white.svg");
}

.menu_small_logo {
  margin-bottom: 60px;
}
.menu_small_logo a img {
  width: 100%;
  height: 100%;
  content: url("../../images/logo_small.svg");
}
.menu_small_logo:hover a img {
  transform: scale(1.1);
}
