@font-face {
  font-family: "poppinsLight";
  src: local("Poppins-Light"),
    url("../fonts/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsRegular";
  src: local("Poppins-Regular"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsMedium";
  src: local("Poppins-Medium"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppinsBold";
  src: local("Poppins-Bold"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
}
