header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px;
  height: 80px;
  background-color: white;
  box-shadow: var(--black-shadow) 0px 6px 10px;
  z-index: 9999;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-inline: 3em;
}
header nav .header_buttons {
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header nav .header_buttons .notifications_button {
  background-color: white;
  border: solid 2px var(--primary-color7);
}
header nav .header_buttons .notifications_button i {
  font-size: 1.5em;
  color: var(--primary-color6);
}
header nav .header_buttons .notifications_button:hover i {
  transform: scale(1.2);
}
header nav .header_buttons .dropdown_header_menu {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .header_buttons .dropdown_header_menu .legal_documents_button {
  background-color: var(--primary-color3);
}
header nav .header_buttons .dropdown_header_menu .legal_documents_button i {
  font-size: 1.5em;
  color: white;
}
header nav .header_buttons .dropdown_header_menu .user_profile_button {
  background-color: var(--primary-color8);
  text-decoration: none;
}
header nav .header_buttons .dropdown_header_menu .user_profile_button span {
  font-size: 1.25em;
  font-family: poppinsMedium;
  color: white;
}
.drop_down_content_legal_document {
  background-color: var(--primary-color3);
}
.drop_down_content_legal_document a {
  display: block;
  text-align: left;
  font-size: 1em;
  font-family: poppinsRegular;
  color: white;
  text-decoration: none;
  padding: 12px 16px;
}
.drop_down_content_legal_document a:hover {
  color: var(--primary-color2);
}
.drop_down_content_user_profile {
  background-color: var(--primary-color9);
}
.drop_down_content_user_profile i {
  font-size: 1.25em;
  margin-right: 10px;
}
.drop_down_content_user_profile a {
  display: block;
  text-align: left;
  text-decoration: none;
  padding: 12px 16px;
  font-size: 1em;
  font-family: poppinsRegular;
  cursor: pointer;
}
.drop_down_content_user_profile .user_profile_link {
  color: black;
}
.drop_down_content_user_profile .user_profile_link:hover {
  color: var(--primary-color2);
}
.drop_down_content_user_profile .log_out_link {
  color: black;
}
.drop_down_content_user_profile .log_out_link:hover {
  color: var(--primary-color10);
}
.dropdown_content {
  display: none;
  min-width: 160px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
  top: 75px !important;
}
.dropdown_header_menu_legal_documents:hover .legal_documents_button i {
  transform: scale(1.2);
}
.dropdown_header_menu_legal_documents:hover .dropdown_content {
  display: block;
}
.dropdown_header_menu_user_profile:hover .user_profile_button span {
  transform: scale(1.1);
}
.dropdown_header_menu_user_profile:hover .dropdown_content {
  display: block;
}
