.message_date {
  font-size: 0.75em;
  font-family: poppinsLight;
  color: $primary-color11;
}

.container {
  height: 100%;
}

.chat_container--opened {
  visibility: visible;
}

.chat_container--closed {
  visibility: hidden;
}

.bottom-divider {
  border-bottom: 1px solid $primary-color7;
}

.textInput-container {
  border-top: 1px solid $primary-color7;
  height: 100px;
  background-color: transparent;
  textarea {
    width: 100%;
    max-height: 80px;
    border-radius: 20px;
    padding: 8px;
    border: 1px solid $primary-color7;
  }
}
