.modal_container {
  padding: 2% 3%;
  .header {
    display: flex;
    justify-content: flex-end;
    i {
      font-size: 1.75em;
    }
  }
  .content {
    margin-inline: 1em;
    .modal_icon {
      @media (max-width: 575px) {
        font-size: 2em;
      }
      font-size: 3.5em;
    }
    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        text-align: center;
        font-size: 1.35em;
        color: black;
        font-family: poppinsRegular;
        margin-bottom: 1em;
      }
    }
    .stepper_line {
      width: 100px;
      min-height: 1px;
      margin: 0 20px;
      background-color: rgba(0, 0, 0, 0.12);
    }
    .stepper_icon {
      i {
        color: $primary-color2;
        font-size: 1.5em;
      }
    }
    .button_container {
      display: flex;
      flex-direction: row;
      width: 60%;
      justify-content: center;
      align-items: center;
      margin-block: 1.5em;
    }
  }
}
