.modal_container {
  padding: 2% 3%;
  .header {
    display: flex;
    justify-content: flex-end;
    i {
      font-size: 1.75em;
    }
  }
  .content {
    margin-inline: 1em;
    .title {
      width: 100%;
      display: flex;
      justify-content: center;
      span {
        text-align: center;
        font-size: 1.35em;
        color: black;
        font-family: poppinsRegular;
        margin-bottom: 1em;
      }
    }
    .button_container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-block: 1.5em;
    }
  }
}
