.btn_primary {
  min-width: 200px;
  height: 3.125em;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background: $primary-color1;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px $black-shadow;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  padding: 0 10px;
  span {
    display: block;
    font-family: poppinsRegular;
    font-size: 1em;
    color: white;
  }
  i {
    margin-right: 10px;
    font-size: 1.5em;
    color: white;
  }
}

.btn_primary:hover {
  background: $primary-color2;
}

.btn_primary:disabled {
  background: grey;
}

.btn_rounded {
  cursor: pointer;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  border: none;
  box-shadow: 0px 8px 15px $black-shadow;
  i {
    font-size: 1.5em;
    color: white;
  }
}

.btn_rounded_add_ressource {
  height: 40px;
  width: 40px;
  transition: all 0.3s ease 0s;
  background: $primary-color1;
  border-radius: 30px;
}

.btn_rounded_actions {
  height: 50px;
  width: 50px;
  transition: all 0.3s ease 0s;
  background: $primary-color1;
  border-radius: 30px;
  margin-left: 10px;
}

.btn_quit_group {
  background-color: $primary-color16;
}

.btn_rounded_actions:hover {
  background: $primary-color2;
}

.btn_rounded_add_ressource:hover {
  background: $primary-color2;
}

.btn_quit_group:hover {
  background-color: #d63031;
}

.btn_add_message {
  height: 50px;
  width: 60px;
  transition: all 0.3s ease 0s;
  background: $primary-color1;
  border-radius: 50%;
}

.btn_add_message:hover {
  background: $primary-color2;
}

.log_out_btn {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  border: none;
  transition: all 0.3s ease 0s;
  text-decoration: none;
  cursor: pointer;
  background-color: transparent;
  i {
    font-size: 2.5em;
    color: $primary-color10;
  }
  span {
    margin-left: 15px;
    font-size: 1.125em;
    color: white;
    font-family: poppinsLight;
    width: 70%;
    text-align: left;
  }
}

.log_out_btn:hover {
  background-color: $black-shadow;
  i {
    transform: scale(1.1);
  }
}

.card_bottom_buttons_container {
  position: absolute;
  bottom: -15px;
  right: 10%;
  .btn_like {
    border-radius: 50%;
    border: none;
    min-width: 2.2rem;
    min-height: 2.2rem;
    padding: 0;
    i {
      border-radius: 50%;
      color: $primary-color2;
    }
  }
  .btn_favorite {
    border-radius: 50%;
    border: none;
    min-width: 2.2rem;
    min-height: 2.2rem;
    padding: 0;
    i {
      border-radius: 50%;
      color: $primary-color5;
    }
  }

  .btn_delete {
    border-radius: 50%;
    border: none;
    min-width: 2.2rem;
    min-height: 2.2rem;
    padding: 0;
    i {
      border-radius: 50%;
      color: $primary-color10;
    }
  }
  .btn_edit {
    border-radius: 50%;
    border: none;
    min-width: 2.2rem;
    min-height: 2.2rem;
    padding: 0;
    i {
      border-radius: 50%;
      color: $primary-color3;
    }
  }
}

.btn_message {
  background-color: $primary-color17;
}

.btn_message:hover {
  background-color: #0984e3;
}

.btn_message {
  background-color: $primary-color17;
}

.btn_message:hover {
  background-color: #0984e3;
}

.btn_sort {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1em;
  color: black;
}
.btn_sort:hover {
  color: $primary-color2;
}
.profile_btn {
  border: none;
  position: absolute;
  top: 10%;
  right: 0;
}

.message_btn {
  position: sticky;
  top: 0px;
}
