.tag {
  display: inline-block;
  border-radius: 15px;
  padding: 0.3rem 0.7rem;
  background: $primary-color5;
  color: $primary-color6;
  font-weight: 700;
  margin: 0.15em 0.1em;
  font-size: 0.7em;
}
