.tag {
  display: inline-block;
  border-radius: 5px;
  padding: 0.2em 0.4em 0.3em;
  background: $primary-color1;
  color: $primary-color9;
  font-weight: 600;
  margin: 0.15em 0.1em;
  font-size: 0.7em;
}
