/* Base */
@import "./base/reset";
@import "./base/global";
@import "./base/var";
@import "./base/font";

/* Components */
@import "./components/molecules/header";
@import "./components/atoms/button";
@import "./components/atoms/logo";
@import "./components/organisms/layout";
@import "./components/organisms/menu";
@import "./components/molecules/menu-item";
@import "./components/molecules/card.scss";
@import "./components/atoms/tag.scss";
@import "./components/atoms/lien.scss";
@import "./components/molecules/sign-in.scss";
@import "./components/organisms/modal";
@import "./components/molecules/form";
@import "./components/organisms/profile";
@import "./components/molecules/tagContainer";

/* Pages */

/* Bootstrap icons */
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
